
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&family=Poppins:ital,wght@1,300&display=swap');


 *{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Noto Serif', serif;
/* font-family: 'Poppins', sans-serif; */
 }
 body{
  background-color: #292c41;
 }
 h1,h4,p,a{
  color: #f7f7f6;;
  text-decoration: none;
 }
 

 ul{
  list-style-type: none;;
 }

 .btn{
  padding: 12px 32px;
  font-size: 1rem;
  text-transform: uppercase;
  background: #f7f7f6;
  color:#292c41 ;
  border:1px solid #fefefe;
  font-weight: 600;
  cursor: pointer;
 }

 .btn-light{
  background: transparent;
  color: #fefefe;
 }

 .btn:hover{
  background: rgba(255,255,255,0.2);
  color: #fefefe;
  transition: 0.3s;

 }
